html, body {
    background-color: #f2f2f2;
}

#container {
    background-color: white;
    width: 50%;
    margin-top: 3%;
    border-radius: 10px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 3%;
}

.display-4 {
    padding-bottom: 5%;
    font-size: 45px;
}

#button-div {
    padding: 5%;
}

#submit {
    background-color: #33cc33;
    color: white;
}

#submit:hover {
    opacity: 0.6;
}

::placeholder {
    color: #b2b2b2 !important;
}

header {
    position: fixed;
    top: 3%;
    left: 3%;
}

footer {
    position: fixed;
    bottom: 5%;
    right: 3%;
}

form {
    padding-top: 30px;
}